:root {
    --main:#030303;
    --main-sub: lightgreen;
    --main-sub2: rgb(75, 168, 75);
    --main-hover:#202020d0;
    --text-btn: white;
    --content: #fff3f3;
    --content-hover: #d3c4c4;
    --sub-white: #e7e7e7;
    --sub-gray: #c9c5c5e0;
}

html, body { 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

h1 {
    font-size: 280%;
}

p {
    font-size: 115%;
}

.header {
    width: 100%;
    background-color: var(--main);
}

.dropbtn {
    background-color: var(--main);
    color:var(--text-btn);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 5%;
    color: rgb(55, 173, 55);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--content);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: var(--content-hover);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--main-hover);}

.content  {
    max-width: fit-content;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 4vw;
    text-align: center;
}

.re {
    padding: 12px 20px; 
    border: none; 
    border-radius: 25px; 
    background-color: lightgreen; 
    color: white;
    font-size: 16px; 
    transition: background-color 0.3s; 
    margin-left: 5px;
}

.re:hover {
    background-color: #126e2e;
}

.footer {
    padding: 4px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
